@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-family: "Ubuntu", sans-serif;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  min-height: 100vh;
  min-width: 1024px;
}

html {
  min-height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: #dcbf00;
  text-decoration-color: transparent;
  font-size: 18px;
  transition: all .3s;

  &:hover {
    text-decoration-color: #dcbf00;
  }
}

.btn {
  background-color: #000;
  color: #fff;
  font-size: 36px;
  text-align: center;
  padding: 19px 20px;
  font-family: "Ubuntu", sans-serif;
  border-radius: 50px;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  transition: all .3s;
  outline: none;
  @media (max-width: 1366px) {
    padding: 10px 10px;
  }

  &:hover {
    background-color: #DCBF00;
    color: #000;
  }

  &.disabled,
  &:disabled {
    background-color: #D8D8D8;
    color: #fff;
    pointer-events: none;

    .btn-icon-left {

      &:before {
        background-color: #fff;
      }

      &:after {
        border-color: #fff;
      }
    }

    .btn-icon-right {

      &:before {
        background-color: #fff;
      }

      &:after {
        border-color: #fff;
      }
    }
  }

  &--swap {
    background-color: #DCBF00;
    color: #000;
    font-size: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1366px) {
      font-size: 20px;
      padding: 8px 10px;
    }

    &:hover {
      background-color: #000;
      color: #fff;

      .btn-icon-left {

        &:before {
          background-color: #fff;
        }

        &:after {
          border-color: #fff;
        }
      }

      .btn-icon-right {

        &:before {
          background-color: #fff;
        }

        &:after {
          border-color: #fff;
        }
      }
    }
  }

  .btn-icon-left {
    width: 10px;
    height: 10px;
    position: relative;

    &:before {
      position: absolute;
      content: '';
      width: 8px;
      height: 2px;
      background-color: #000;
      left: 0;
      top: 5px;
      transition: all .3s;
    }

    &:after {
      position: absolute;
      content: '';
      width: 6px;
      height: 6px;
      border-bottom: 2px solid #000;
      border-left: 2px solid #000;
      transform: rotate(45deg);
      top: 3px;
      left: 0;
      transition: all .3s;
    }
  }

  .btn-icon-right {
    width: 10px;
    height: 10px;
    position: relative;

    &:before {
      position: absolute;
      content: '';
      width: 8px;
      height: 2px;
      background-color: #000;
      right: 0;
      top: 5px;
      transition: all .3s;
    }

    &:after {
      position: absolute;
      content: '';
      width: 6px;
      height: 6px;
      border-bottom: 2px solid #000;
      border-left: 2px solid #000;
      transform: rotate(-135deg);
      top: 3px;
      right: 0;
      transition: all .3s;
    }
  }
}

.mat-form-field {
  width: 100%;
  display: block;
  font-family: "Ubuntu", sans-serif;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0;
  border-top: none;
}

input.mat-input-element {
  background: #fff;
  font-size: 16px;
  color: #757575;
  font-family: "Ubuntu", sans-serif;
  height: 42px;
  padding: 0 18px;
  margin-top: 0;
}

.mat-form-field-label-wrapper {
  padding: 0;
  top: 0;
}

.mat-form-field-infix .mat-form-field-label-wrapper .mat-form-field-label {
  top: 50%;
  transform: translateY(-50%);
  color: #757575;
  font-size: 16px;
  transition: all .3s;
  padding-left: 18px;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  display: none;
}

.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  opacity: 0;
  visibility: hidden;
}

.mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {
  top: 100%;
  margin-top: 0;
}
