<div class="notification">
  <div class="notification__wrap">
    <div class="notification__left">
      <span>Swap is happening now....</span>
    </div>
    <div class="notification__right">
      <span class="notification__title">View on the blockchain:</span>
      <div class="notification__item">
        <a href="#">
          <img src="./../../../assets/img/eth.png" alt="">
          <span class="notification__name">Ethereum</span>
        </a>
      </div>
      <div class="notification__item">
        <a href="#">
          <img src="./../../../assets/img/libra.png" alt="">
          <span class="notification__name">Libra</span>
        </a>
      </div>
    </div>
  </div>
</div>
