<footer class="footer">
    <div class="footer__wrap">
        <div class="footer__left">
            <span class="footer__text">Libraswaps is an opensource project made by</span>
            <div class="footer__project">
                <a href="#">
                    <img src="./../../../assets/img/libracamp-logo.svg" alt="">
                </a>
            </div>
            <span class="footer__text">&</span>
            <div class="footer__project">
                <a href="#">
                    <img src="./../../../assets/img/kyber-logo.png" alt="">
                </a>
            </div>
        </div>
        <div class="footer__right">
            <a href="#">Learn more</a>
        </div>
    </div>
</footer>